# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local
.env.localonly

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

secrets.txt

